@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9fafb;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #f59e0b; /* Amarillo Tailwind */
}